* {
    margin: 0;
}
body {
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: #333742;
    text-align: left;
    background-color: rgb(255, 254, 254);
    margin: 0;
}
a {
    text-decoration: none;
    color: #333742;
}
#name {
    color: #246837;
}
header {
    text-align: center;
    margin-top: 30px;
    /* margin-bottom: 10px; */
}
header li{
    list-style: none;
    display: inline-block;
    justify-content: center;
}
header a {
    margin: 0 20px;
    vertical-align: middle;
    display: inline;
}
#title {
    height: 90vh;
    /* width: 100vw; */
    background-image: url(../images/cfm/cover_b.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    text-align: center;
    margin: 50px;
}
#title div {
    padding-top: 40vh;
    color: #d8d8d8;
}
#video {
    display: flex;
    justify-content: center;
}
iframe {
    width: 63vw;
    height: 70vh;
}
.content {
    /* margin-left: 200px;
    margin-right: 200px; */
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 50px;
}
.container div img {
    width: 60vw;
    border-radius: 15px;
    margin: 10px 20px 10px 20px;
    /* height: 30vh; */
    /* height: 300px; */
    /* width: 200px; */
}
/* #parent {
    display: flex;
    justify-content: center;
} */
/* .container div {
    display: flex;
    justify-content: center;
} */
.container {
    /* display: flex;
    vertical-align: middle; */
    margin-bottom: 30px;
}
#hi {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
#hi img {
    width: 45vw;
}
#hi p {
    padding-top: 15vh;
}
#solution {
    /* list-style: none;
    display: inline-block;
    justify-content: center; */
    vertical-align: middle;
    text-align: center;
    padding: 0;
}
#solution li {
    margin: 10px 10px;
    padding: 10px 10px;
    list-style: none;
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
    background-color: #30964d;
    color: rgb(255, 254, 254);
    border-radius: 15px;
    width: 15vw;
    /* height: 200px; */
}
ul {
    padding: 0;
}