* {
    margin: 0;
}
body {
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: #333742;
    text-align: left;
    background-color: rgb(255, 254, 254);
    margin: 0;
}
a {
    text-decoration: none;
    color: #333742;
}
#name {
    color: #246837;
}
header {
    text-align: center;
    margin-top: 30px;
    /* margin-bottom: 10px; */
}
header li{
    list-style: none;
    display: inline-block;
    justify-content: center;
}
header a {
    margin: 0 20px;
    vertical-align: middle;
    display: inline;
}
#title {
    height: 90vh;
    /* width: 100vw; */
    background-image: url(../images/milo/cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    text-align: center;
    margin: 50px;
}
#title div {
    padding-top: 40vh;
    color: rgb(255, 254, 254);
}
#video {
    display: flex;
    justify-content: center;
}
iframe {
    width: 63vw;
    height: 70vh;
}
.content {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.container img {
    width: 30vw;
    border-radius: 15px;
    margin: 10px 20px 10px 20px;
}
/* #parent {
    display: flex;
    justify-content: center;
} */
.container div {
    display: flex;
    justify-content: center;
}
.container {
    /* display: flex;
    vertical-align: middle; */
    margin-bottom: 30px;
}
#poster {
    display: flex;
    justify-content: center;
}
#poster img{
    width: 80vw;
    /* background-image: url(../images/milo/yejunkim_milo.png);
    background-size: cover;
    background-repeat: no-repeat; */
    /* height: 80vh; */
    margin: 0 50px 50px 50px;
    border-radius: 15px;
}
ul {
    padding: 0;
}