* {
    margin: 0;
}
body {
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: #333742;
    text-align: left;
    background-color: rgb(255, 254, 254);
    margin: 0;
}
a {
    text-decoration: none;
    color: #333742;
}
#name {
    color: #246837;
}
header {
    height: 35px;
    text-align: center;
    padding-top: 30px;
    /* margin-top: 30px; */
    /* margin-bottom: 10px; */
}
header li{
    list-style: none;
    display: inline-block;
    justify-content: center;
}
header a {
    margin: 0 20px;
    vertical-align: middle;
    display: inline;
}
#title {
    height: 90vh;
    /* width: 100vw; */
    background-image: url(../images/mimo/pretty_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    text-align: center;
    margin: 50px;
}
#title div {
    padding-top: 40vh;
    color: rgb(255, 254, 254);
}
#video {
    display: flex;
    justify-content: center;
}
iframe {
    width: 63vw;
    height: 70vh;
}
.content {
    /* margin-left: 200px;
    margin-right: 200px; */
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 50px;
}
.container div img {
    width: 28vw;
    border-radius: 15px;
    margin: 10px 20px 10px 20px;
    /* height: 30vh; */
    /* height: 300px; */
    /* width: 200px; */
}
.container img#cam {
    /* height: 60vh; */
    width: 60vw;
}
.container img#light {
    /* height: 80vh; */
    width: 60vw;
}
.container ul {
    text-align: center;
    padding: 0;
}
.container li {
    list-style: none;
    display: inline-block;
    justify-content: center;
}
.container li img {
    margin: 10px 5px 10px 5px;
    border-radius: 15px;
    /* width: 25vw; */
    height: 35vh;
}
/* #parent {
    display: flex;
    justify-content: center;
} */
.container div {
    display: flex;
    justify-content: center;
}
.container {
    /* display: flex;
    vertical-align: middle; */
    margin-bottom: 30px;
}
#poster {
    display: flex;
    justify-content: center;
}
#poster img{
    width: 80vw;
    /* background-image: url(../images/milo/yejunkim_milo.png);
    background-size: cover;
    background-repeat: no-repeat; */
    /* height: 80vh; */
    margin: 0 50px 50px 50px;
    border-radius: 15px;
}
ul {
    padding: 0;
}