body{
    background-color:#F9FAFC;
    font:16px/1.6em 'NanumSquareRound', sans-serif;
    color:#212528;
    margin: 0;
}
.menu{padding: 5px;}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: right;
    padding: 0 40px;
    margin: 16px 0 0 0;
}
.menu li{
    padding: 0 5px; 
    margin: 0; 
    vertical-align: middle; 
    font-weight: 600;
}
.menu li img {width: 25px; vertical-align: middle;}
a { color: #212528;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {font-weight:900; }
a:active {font-weight:900; }

.content{
    margin: 5vw;
}
.block{
    margin-bottom: 50px;
}
.top-color{
    background: #ececec;
}
.top{
    height: 500px;
}
.top .title{
    text-align: center;
    display: table;
}
.top .title h2{
    display: table-cell;
    vertical-align: middle;
}
#grabber{
    height: 450px;
    margin: 25px;
    border-radius: 15px;
    background: #dedede;
}
.placeholder{
    border-radius: 15px;
    background: #ececec;
    padding: 20px; 
    height: 150px; 
}
.spacer{
    padding: 10px; 
    height: 30px; 
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#background div{
    height: 50px;
}
#insights div{
    height: 50px;
}