body{
    background-color:#F9FAFC;
    font:16px/1.6em 'NanumSquareRound', sans-serif;
    color:#212528;
    margin: 0;
}
h1 {
    font-weight: 400;
    font-size: 25px;
}
.num {
    font-size: 60px;
}
.cfm {
    background-image: url(cfm.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}