* {
    margin: 0;
    padding: 0;
}
body {
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: #333742;
    text-align: center;
    background-color: rgb(255, 254, 254);
    margin: 0;
}
/* h1 {
    font-weight: 800;
} */
span {
    color: #246837;
}
a {
    text-decoration: none;
}
/* header {
    background-color: #246837;
}
#menu {
    list-style: none;
    display: inline-block;
} */

#main {
    height: 76vh;
    /* background-color: #246837; */
    vertical-align: middle;
    padding-top: 17vh;
}
#main li {
    list-style: none;
    display: inline-block;
    justify-content: center;
    vertical-align: middle;
    padding: 5vw 5vw;
}
#main img {
    width: 40vw;
    border-radius: 15px;
}
/* #main .title {
    padding-top: 42vh;
} */
#main h1 {
    /* color: rgb(206, 206, 206); */
    color: #333742;
    margin-left: 15px;
    margin-right: 15px;
}
#main span {
    /* color: rgb(255, 254, 254); */
    color: #246837;
}
#resume {
    /* color: rgb(206, 206, 206); */
    color: #979797;;
}
#catch {
    /* color: rgb(206, 206, 206); */
    padding-top: 2vw;
    color: #333742;
    font-size: large;
}
#main h3 {
    margin-top: 35vh;
}

#projects #proj_content {
    padding: 10vh 10vw;
}
#projects #proj_content #title{
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
#projects #proj_content a {
    text-decoration: none;
    color: #333742;
}
#projects #proj_content .stuff{  
    margin-top: 50px;
}
#projects #proj_content .stuff .item{
    list-style: none;
    display: inline-block;
    justify-content: center;
    margin: 15px 50px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
}
#projects .item#milo {
    background-image: url(images/milo/cover.jpeg);
    background-size: cover;
}
#projects .item#mimo {
    background-image: url(images/mimo/cover.jpg);
    background-size: cover;
}
#projects .item#nokoin {
    background-image: url(images/nokoin/cover.png);
    background-size: cover;
}
#projects .item#cfm {
    background-image: url(images/cfm/cover.jpg);
    background-size: cover;
}
#projects .item#library {
    background-image: url(images/library/cover.png);
    background-size: cover;
}
#projects .item#visual {
    background-image: url(images/visual/cover.png);
    background-size: cover;
}
#projects .item#poster {
    background-image: url(images/poster/cover.png);
    background-size: cover;
}
#projects .item h3 {
    color: black;
    visibility: hidden;
}

#projects .item:hover {
    opacity: 0.8;
}

#projects .item:hover h3{
    visibility: visible;
}
#projects .item {
    padding-top: 60px;
    color: white;
}
#contacts {
    height: 90vh;
    padding-top: 5vh;
    /* background-color: #246837; */
}
#contacts div {
    padding-top: 7vh;
}
#contacts div h2 {
    /* color: rgb(206, 206, 206); */
    color: #333742;
    margin-left: 40px;
    margin-right: 40px;
}
#contacts div span {
    /* color: rgb(255, 254, 254); */
    color: #246837;
}
#contacts p {
    padding: 0 20vw;
}
#email p {
    margin-top: 10vh;
}
#email {
    color: #979797
}
ul {
    padding: 0;
}