body{
    background-color:#F9FAFC;
    color:#212528;
    margin: 0;
}
.cover{
    height: 100vh;
    background-image: url(cover.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}
.title {
    color: white; 
    text-shadow: 1px 2px 8px #4b4641;
    font-size: 8vh;
    font-weight: 400;
    font-family: Verdana, sans-serif;
}